{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "electron": "5.0.6"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}
