.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: rgba(65, 48, 38, 0.4);
  width: 100%;
  height: 100%;
}

.text {
  font-size: 1.1rem;
  line-height: 1.7;
  margin: 0 0 1rem 0;
}

.spinner {
  fill: rgba(65, 48, 38, 0.4);
  animation: spinning 1.3s infinite linear;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
